# dependencies
node_modules

# IDE
/.idea
/.awcache
/.vscode

# misc
npm-debug.log
.DS_Store

# tests
/test
/coverage
/.nyc_output

# lib
lib

# build artifacts
*.tsbuildinfo
examples/interceptor-demo/dist/
examples/**/*.js
examples/**/dist
!scripts/*.js

# enviroment
.env
*.env*
